DBHOST=localhost
DBUSER=postgres
DBPASS=insert_your_password_here

POSTGRES_DB=coaching-api_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=insert_your_password_here

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=insert_your_password_here

API_DBHOST=coaching-db
API_DBUSER=postgres
API_DBPASS=insert_your_password_here